In [ ]:
import pandas as pd

In [34]:
import numpy as np
import re
df = pd.read_csv("../data/raw/Pattern Seekers Interview (Responses) - Form Responses 1.csv")
df.drop(columns=["Timestamp", "How is the cow?"], inplace=True)

df['Which group is the best in Cluster 11?'] = df['Which group is the best in Cluster 11?'].replace({'Pattern Seekers': 5, 'Group 5': 5})

def clean_sleep(val):
    if isinstance(val, str):
        if "hour" in val:
            match = re.match(r"(\d+)\s*hours?\s*(\d*)\s*minutes?", val)
            if match:
                hours = int(match.group(1))
                minutes = int(match.group(2)) if match.group(2) else 0
                return hours + minutes / 60
        if val in ["cake", "A HUNEDDDDDDDDD", "6 or 7", "54 hours"]:
            return np.nan
    try:
        val_float = float(val)
        if val_float in [17, -3, 54]:
            return np.nan
        return val_float
    except:
        return np.nan

df['How many hours of sleep did you get yesterday?'] = df['How many hours of sleep did you get yesterday?'].apply(clean_sleep)
df = df.dropna(subset=['How many hours of sleep did you get yesterday?'])
df.reset_index(drop=True, inplace=True)
df.head(17)

/var/folders/tx/y67qjl4n5pv6h_kqbkqyyqfm0000gn/T/ipykernel_11084/4255080180.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Which group is the best in Cluster 11?'] = df['Which group is the best in Cluster 11?'].replace({'Pattern Seekers': 5, 'Group 5': 5})

,What is your name?,How many hours of sleep did you get yesterday?,Rate your roommate on a scale of 1-10,How good is the food?,Which group is the best in Cluster 11?
0,2,8.00,10,4,5
1,2,7.00,10,3,5
2,2,1.00,8,3,5
3,3,6.00,8,4,5
4,2,6.15,10,1,5
5,2,2.00,10,5,5
6,2,8.00,10,3,5
7,3,9.00,10,3,5
8,2,6.51,8,4,5
9,1,1.00,1,1,5